/exploded-archives/
/test-build/
/classes/

/bin/
/exploded-archives/gim.ear/gim_war/
/test-build/waterservice/report/

/resources/gim-dev-ds.xml
/exploded-archives/gim.ear/gim_war/

/.classpath
/build.properties

lib/InvoiceClient.jar.zip
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
