/exploded-archives/
/test-build/
/classes/
/bin/
/exploded-archives/gim.ear/gim_war/
/test-build/waterservice/report/
/resources/gim-dev-ds.xml
/.classpath
lib/InvoiceClient.jar.zip
/test-build
build.properties
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
/test-build/
